@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #006400;
}

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

header div {
    width: 250px;
    margin-left: 20px;
}

header h1 {
    padding-top: 10px;
    color: #fff;
}

#more-tigers {
    font-size: 1.5rem;
    text-align: center;
    max-width: 244px;
    margin-right: 15px;
    background: #222;
    color: #fff;
    border: #e48400 solid 2px;
    padding: 2px 3px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

#tiger-freq-box {
    position: fixed;
    top: -600px;
    right: 15px;
    background: #222;
    color: #fff;
    border: #e48400 solid 2px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 5px;
    transition: transform 0.5s;
    z-index: 5;
}

#tiger-freq-box.active {
    transform: translateY(640px);
}

.radio {
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin: 0;
}

.radio input {
    height: 25px;
    width: 25px;
}

.radio p {
    margin-left: 30px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    max-width: 200px;
}

#tiger-update,
#tiger-cancel {
    font-size: 1.2rem;
    margin: 8px 0;
}

#tigers,
#pair-tie {
    display: flex;
}

.side-bet {
    border: #111 solid 2px;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 15px 25px 40px 25px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
}

.side-bet.active {
    background: #e48400;
}

.layout {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.layout h3 {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    min-width: 380px;
}

#player {
    margin: 0;
}

.btn { 
    background: #b5651d;
    color: #fff;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 7px;
    border: #222 solid 1px;
    cursor: pointer;
}

.btn:hover {
    background: #894c16;
}

.btn:active {
    transform: scale(0.98);
}

#play-game, 
#submit-btn,
#pay-bets-btn,
#pay-bets-btn,
#play-again-btn,
#game-btns,
#incorrect-message {
    display: none;
}

#play-game.active, 
#submit-btn.active,
#pay-bets-btn.active,
#pay-bets-btn.active,
#play-again-btn.active,
#game-btns.active,
#incorrect-message.active {
    display: inline-block;
}

#play-game,
#submit-btn {
    margin: 0;
}

#game-btns {
    margin: 10px;
}

.hand {
    display: flex;
    width: 100px;
    align-self: flex-start;
    min-height: 150px;
}

#banker {
    color: #ffff00;
}

#player {
    color: #ff0000;
}

#banker-cards {
    align-self: center;
}

.hand img {
    max-width: 100%;
    height: auto;
    margin: 5px;
}

.total {
    margin-top: 10px;
    font-size: 40px;
    min-height: 50px;
}

#winner {
    display: none;
    font-size: 35px;
    min-height: 35px;
}

.action-box {
    display: none;
}

.action-box.active {
    display: inline-block;
    border: #222 2px solid;
    background: #37474f;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    width: 50%;
}

#alert-message {
    font-size: 35px;
}

#payout-box {
    padding: 0;
}

#payout-box #title{
    margin: 10px 0;
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: underline;
}

#payout-box #bet-to-pay {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 300;
}

#payout-box #incorrect-message {
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: #222;
    border-radius: 10px;
}

#payout-box #hint-btn {
    background: #333;
    color: #fff;
    border: none;
    font-size: 1.3rem;
    padding: 8px 40px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#payout-box #denoms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    list-style: none;
    margin-bottom: 15px;
}

#payout-box #denoms li {
    margin: 3px;
    border: #fff 2px dashed;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#payout-box ul .yellow {
    border: black 2px dashed;
    background: yellow;
    color: black;
}

#payout-box ul .purple {
    background: purple;
}

#payout-box ul .black {
    background: black;
}

#payout-box ul .green {
    background: green;
}

#payout-box ul .red {
    background: red;
}

#payout-box #hint {
    display: none;
}

#payout-box #hint.active {
    display: inline-block;
    flex-direction: column;
    line-height: 1.5rem;
    width: 70%;
    text-align: left;
}

#payout-box #hint li {
    border: none;
    width: 100%;
}

#payout-box input {
    width: 80%;
    font-size: 2rem;
    margin: 3px;
    border-radius: 8px;
}

#game-btns {
    min-height: 60px;
}

#main-footer {
    color: #fff;
    margin-top: 40px;
}

@media(max-width: 980px) {

    #game-btns {
        margin: 60px 0;
    }
}

@media(max-width: 768px) {

    header {
        width: 100vw;
    }
    header h1 {
        text-align: center;
        margin: 3px 5px;
        padding: 0;
    }

    header div {
        width: 200px;
        margin-left: 0;
    }

    #more-tigers {
        max-width: 200px;
        margin: 3px;
        z-index: 0;
    }

    .action-box.active {
        width: 80%;
    }

    .layout {
        width: 100vw;
    }

    .hand {
        width: 100px;
        min-height: 105;
    }

    .hand img {
        height: 105;
    }

    #play-game {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 25px;
    }
}

